---
import { Image } from "astro:assets";
---

<section id="portfolio">
  <h2
    class="mb-4 mt-6 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
  >
    A Sample of Our Work
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4 py-8 mx-auto">
    <div class="grid gap-4">
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
          width={350}
          height={350}
          alt=""
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
      <div>
        <Image
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
          alt=""
          width={350}
          height={350}
        />
      </div>
    </div>
  </div>
</section>
